div 
    form(
        action="/new"
        method="POST")
        div Name
        input(
            type="text"
            name="userName")
        div Text
        input(
            type="text"
            name="textMessage")
           
        input(type="submit" value="Submit")